.text-bold {
    font-weight: bold;
}

.display-block{
    display: block;
}

.border-top-blue{
    border-top: 4px solid var(--clr-blue);
}

.border-top-red{
    border-top: 4px solid var(--clr-red);
}

.border-top-cyan{
    border-top: 4px solid var(--clr-cyan);
}


.border-top-orange{
    border-top: 4px solid var(--clr-orange);
}